.verification {
  background-color: var(--primary-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.verification .title {
  font-size: clamp(15px, 1.5vw, 25px);
  margin-top: 75px;
}

.verification .signup-button {
  color: white;
  font-weight: 700;
  font-size: clamp(13px, 1.1vw, 17px);
  background-color: var(--cp-green);
  padding: 7px 12px 7px 12px;
  border: none;
  border-radius: 5px;
}

.verification .signup-button:hover {
  background-color: var(--hover-green);
}

.verification .progress {
  z-index: 1;
  position: absolute;
  top: 50%;
}
